import /init.hi6210sft.usb.rc

on early-init

    setprop ro.connectivity.chiptype hi110x
    setprop ro.connectivity.sta_p2p_coex false
    setprop wifi.interface wlan0
	
    chmod 0660 /dev/hwlog_switch
    chown logd system /dev/hwlog_switch
    chmod 0660 /dev/hwlog_tag
    chown system system /dev/hwlog_tag

    write /dev/hwlog_switch 0xFF

    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=0775,gid=1000

on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /mnt/media_rw/sdcard1 0555 root root
    mkdir /mnt/media_rw/usbdisk 0555 root root
    mkdir /storage/sdcard1 0775 system system
    mkdir /storage/usbdisk 0775 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/sdcard1
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated

    # for backwards compatibility
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /storage/sdcard1 /ext_card
    symlink /storage/sdcard1 /mnt/ext_card
    symlink /storage/usbdisk /usbdisk
    symlink /storage/usbdisk /mnt/usbdisk
	
    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p19
    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p7

    wait /dev/nve0
    chmod 0770 /dev/nve0
    chown root system /dev/nve0

    mkdir /dev/frz
    mount cgroup none /dev/frz freezer

    mkdir /e2fslog 0755 root root
    mount tmpfs tmpfs /e2fslog mode=0755

    mkdir /cust
    mkdir /splash2
    mkdir /splash2/log 0775 system system
    mkdir /3rdmodem 0750 radio radio
    mkdir /3rdmodemnvm 0750 radio radio
    mkdir /3rdmodemnvm/viacbp82d 0740 radio radio
    mkdir /3rdmodemnvmbkp 0750 radio radio
    mkdir /3rdmodemnvmbkp/viacbp82d 0740 radio radio
    mkdir /modem_log 0771 system system

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
	
	chown system system /dev/memory_throughput
    chown system system /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chmod 774 /sys/class/devfreq/ddrfreq/ddr_bandwidth
    chown system system /sys/class/devfreq/ddrfreq/max_freq
    chmod 664 /sys/class/devfreq/ddrfreq/max_freq
    chown system system /sys/class/devfreq/ddrfreq/min_freq
    chmod 664 /sys/class/devfreq/ddrfreq/min_freq
    chown system system /sys/class/devfreq/ddrfreq/available_frequencies
    chmod 664 /sys/class/devfreq/ddrfreq/available_frequencies
    chown system system /sys/class/devfreq/ddrfreq/cur_freq
    chmod 664 /sys/class/devfreq/ddrfreq/cur_freq

    chown system system /sys/class/devfreq/gpufreq/max_freq
    chmod 664 /sys/class/devfreq/gpufreq/max_freq
    chown system system /sys/class/devfreq/gpufreq/min_freq
    chmod 664 /sys/class/devfreq/gpufreq/min_freq
    chown system system /sys/class/devfreq/gpufreq/available_frequencies
    chmod 664 /sys/class/devfreq/gpufreq/available_frequencies
    chown system system /sys/class/devfreq/gpufreq/cur_freq
    chmod 664 /sys/class/devfreq/gpufreq/cur_freq

	# Sound
	chmod 664  /dev/maxim_smartpa_dev
	chown media media /dev/maxim_smartpa_dev
	chmod 664  /dev/speakerID
	chown media media /dev/speakerID
	chmod 664  /dev/hi6402_hifi_misc
	chown media media /dev/hi6402_hifi_misc
	chmod 664  /dev/ttyAMA0
	chown media media /dev/ttyAMA0
	chmod 664  /dev/anc_hs
	chown media media /dev/anc_hs
	chmod 664  /dev/tfa9895
	chown media media /dev/tfa9895
	chmod 664  /dev/ear_pa
	chown media media /dev/ear_pa

on fs
    loglevel 9

    mount ext4 /dev/block/mmcblk0p11 /mnvm2:0 nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1
    mount ext4 /dev/block/mmcblk0p12 /mnvm3:0 nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1
    mount ext4 /dev/block/mmcblk0p17 /modem_log nosuid nodev noatime wait crypt discard,noauto_da_alloc,data=ordered,user_xattr,discard,barrier=1

    chmod 0774 /mnvm2:0
    chown root root /mnvm2:0
    write /proc/modem_depend 1

    write /sys/block/zram0/disksize 268435456
    mount_all /fstab.hi6210sft
    swapon_all /fstab.hi6210sft
	
    mount ext4 /dev/block/platform/hi_mci.0/by-name/cust /cust wait ro nosuid nodev
    mount ext4 /dev/block/platform/hi_mci.0/by-name/splash2 /splash2 wait rw nosuid nodev
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodem /3rdmodem noatime nosuid nodev
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodemnvm /3rdmodemnvm noatime nosuid nodev
    mount ext4 /dev/block/platform/hi_mci.0/by-name/3rdmodemnvmbkp /3rdmodemnvmbkp noatime nosuid nodev

    setprop ro.crypto.fuse_sdcard true

    wait /dev/block/platform/hi_mci.0/by-name/oeminfo
    start oeminfo_nvm

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/system 0770 system system

    # Create the directories used by the Wireless subsystem
    #mkdir /data/misc/wifi 0770 wifi wifi
    #mkdir /data/misc/wifi/sockets 0770 wifi wifi
    #mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    #mkdir /data/misc/dhcp 0770 dhcp dhcp
    # to observe dnsmasq.leases file for dhcp information of soft ap.
    #chown dhcp system /data/misc/dhcp
	
	# from stock
    restorecon_recursive /data/hwlogdir
    restorecon_recursive /data/gnss
    mkdir /data/misc/wifi 0770 wifi wifi
    chown wifi wifi /data/misc/wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    chmod 0660 /data/misc/wifi/wpa_supplicant.conf
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
	

    # Sec storage
    mkdir /data/sec_storage
    mount ext4 /dev/block/platform/hi_mci.0/by-name/securetystorage /data/sec_storage nosuid nodev noatime wait crypt discard,auto_da_alloc,mblk_io_submit,data=journal,context=u:object_r:teecd_data_file:s0
    chown root root /data/sec_storage
    chmod 600 /data/sec_storage

    # Lights
    chown system system /sys/class/leds/lcd_backlight0/brightness
    chmod 664 /sys/class/leds/lcd_backlight0/brightness
    chown system system /sys/class/leds/torch/brightness
    chmod 666 /sys/class/leds/torch/brightness
    chown system system /sys/class/leds/torch/flash_thermal_protect
    chmod 664 /sys/class/leds/torch/flash_thermal_protect

    chown system system /sys/class/leds/red/brightness
    chmod 664 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/delay_off
    chmod 664 /sys/class/leds/red/delay_off
    chown system system /sys/class/leds/red/delay_on
    chmod 664 /sys/class/leds/red/delay_on

    chown system system /sys/class/leds/blue/brightness
    chmod 664 /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/delay_off
    chmod 664 /sys/class/leds/blue/delay_off
    chown system system /sys/class/leds/blue/delay_on
    chmod 664 /sys/class/leds/blue/delay_on

    chown system system /sys/class/leds/green/brightness
    chmod 664 /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/delay_off
    chmod 664 /sys/class/leds/green/delay_off
    chown system system /sys/class/leds/green/delay_on
    chmod 664 /sys/class/leds/green/delay_on

	
	# Extmodem
    mkdir /data/hwzd_logs/3rdcp-log 0775 radio nvram

    mkdir /data/nvram/ 0770 root nvram
    mkdir /data/nvram/md_via 0770 root nvram

    chmod 0660 /dev/vmodem
    chown radio radio /dev/vmodem

    mkdir /data/pppd_via 0770 radio system

    chmod 0660 /dev/ttyAMA5
    chown radio radio /dev/ttyAMA5

    setprop viatel.device.fls  spi.2.ttySPI
    setprop viatel.device.at   spi.10.ttySPI
    setprop viatel.device.data spi.0.ttySPI
    setprop viatel.device.pcv spi.4.ttySPI
    setprop viatel.device.gps spi.5.ttySPI

    chmod 0750 /3rdmodem/
    chmod 0750 /3rdmodemnvm/
    chmod 0750 /3rdmodemnvmbkp/

    mkdir /3rdmodemnvm/viacbp82d 0740 radio radio
    mkdir /3rdmodemnvmbkp/viacbp82d 0740 radio radio

    chmod 0740 /3rdmodem/modem_image
    chmod 0740 /3rdmodem/modem_image/viacbp82d
    chmod 0740 /3rdmodemnvm/viacbp82d
    chmod 0740 /3rdmodemnvmbkp/viacbp82d
    chmod 0640 /3rdmodem/modem_image/viacbp82d/boot.rom
    chmod 0640 /3rdmodem/modem_image/viacbp82d/cp.rom
    chmod 0640 /3rdmodem/modem_image/viacbp82d/fsm_df.img
    chmod 0640 /3rdmodem/modem_image/viacbp82d/RfsTable
    chmod 0640 /3rdmodemnvm/viacbp82d/fsm_0.img
    chmod 0640 /3rdmodemnvm/viacbp82d/fsm_1.img
    chmod 0640 /3rdmodemnvm/viacbp82d/fsm_cl.img
    chmod 0640 /3rdmodemnvmbkp/viacbp82d/fsm_cl_backup.img

    chown radio radio /3rdmodem/
    chown radio radio /3rdmodem/modem_image
    chown radio radio /3rdmodem/modem_image/viacbp82d
    chown radio radio /3rdmodemnvm
    chown radio radio /3rdmodemnvm/viacbp82d
    chown radio radio /3rdmodemnvmbkp
    chown radio radio /3rdmodemnvmbkp/viacbp82d
    chown radio radio /3rdmodem/modem_image/viacbp82d/boot.rom
    chown radio radio /3rdmodem/modem_image/viacbp82d/cp.rom
    chown radio radio /3rdmodem/modem_image/viacbp82d/fsm_df.img
    chown radio radio /3rdmodem/modem_image/viacbp82d/RfsTable
    chown radio radio /3rdmodemnvm/viacbp82d/fsm_0.img
    chown radio radio /3rdmodemnvm/viacbp82d/fsm_1.img
    chown radio radio /3rdmodemnvm/viacbp82d/fsm_cl.img
    chown radio radio /3rdmodemnvmbkp/viacbp82d/fsm_cl_backup.img

    chmod 0660 /sys/devices/platform/viacbp82d_boot/state
    chown root radio /sys/devices/platform/viacbp82d_boot/state
    chmod 0660 /sys/devices/platform/viacbp82d_boot/modem_state
    chown root radio /sys/devices/platform/viacbp82d_boot/modem_state
    chmod 0660 /sys/devices/platform/viacbp82d_boot/sim_switch
    chown root radio /sys/devices/platform/viacbp82d_boot/sim_switch

    chmod 0660 /sys/devices/platform/rnic_adapter_interface.0/rnic_adapter
    chown radio radio /sys/devices/platform/rnic_adapter_interface.0/rnic_adapter

	
    setprop vold.post_fs_data_done 1

on boot
    chmod 660 /dev/ttyAMA1
    chown bluetooth bluetooth /dev/ttyAMA1

    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chmod 660 /sys/class/rfkill/rfkill0/state

    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chmod 664 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
    chmod 664 /proc/bluetooth/sleep/btwrite
    chown bluetooth bluetooth /proc/bluetooth/sleep/btwake
    chmod 664 /proc/bluetooth/sleep/btwake

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1rw /system/bin/sdcard -u 1023 -g 1023 /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
   class late_start
   disabled

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1015 -d /mnt/media_rw/usbotg /storage/usbotg
   class late_start
   disabled

service atcmdserver /system/bin/atcmdserver
    class main
    disabled

service teecd /system/bin/teecd
    class late_start
    user root
    group root
    seclabel u:r:tee:s0

service oeminfo_nvm /system/bin/oeminfo_nvm_server
    class core
    ioprio rt 4

service hwnffserver /system/bin/hwnffserver
    class main
    socket hwnff stream 0660 root mount

service device-monitor /system/bin/device_monitor
    class main
    user root
    group system

service hwpged /system/bin/hwpged
    class main
    socket MsgHubSock stream 0660 root system
    user root

service hw_cdma_service /system/bin/hw_cdmamodem_service /dev/acm_cdma_log /dev/ttySPI3 /dev/ttySPI1
    class main
    user root
    disabled

service thermal-daemon /system/bin/thermal-daemon
    class main
    user system
    group system
	

#from connetion
service netd /system/bin/netd
    class main 
    socket netd stream 0660 root system
    socket dnsproxyd stream 0660 root inet 
    socket mdns stream 0660 root system

service octty /system/bin/octty
    class main
    user system
    group system bluetooth root media
    disabled

service oam_app /system/bin/oam_app
    class main
    user system
    group system root wifi bluetooth
    disabled
    oneshot

service hisi_bfg /system/bin/hisi_connectivity.sh
    user root
    group system
    disabled
    oneshot

on property:ro.debuggable=*
    start octty
    start hisi_bfg

on property:init.svc.hisi_bfg=stopped
    write /proc/wifi_enable/wifi_start 1
    write /proc/oam_enable/oam_start 1
    start oam_app
    start hsgnss
    start agnsscontrol
    start agnsslog
    start supl20clientd
    start watchlssd

service wpa_supplicant /system/bin/wpa_supplicant_hisi \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant_hisi.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant_hisi \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant_hisi.conf \
    -O/data/misc/wifi/sockets -N \
		-ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf -e/data/misc/wifi/entropy.bin -puse_p2p_group_interface=1 -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service hostapd_bin /system/bin/hostapd_hisi -d /data/misc/wifi/hostapd_hisi.conf
	socket wpa_wlan0 dgram 660 wifi wifi
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service hsgnss /system/bin/gnss_engine -normal
    class main
    user system
    group system inet root
    disabled

service agnsscontrol /system/bin/agnsscontrol -normal
    class main
    user system
    group system inet root
    disabled

service supl20clientd /system/bin/supl20clientd
    class main
    user system
    group system inet
    disabled

service agnsslog /system/bin/agnsslog
    class main
    user system
    group system inet root
    disabled

service watchlssd /system/xbin/watchlssd
    class main
    user system
    group system inet net_raw
    disabled
